<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>632981210912-cvrbdfov1oliop0okd9b1kll14du66rq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632981210912-cvrbdfov1oliop0okd9b1kll14du66rq</string>
	<key>API_KEY</key>
	<string>AIzaSyDXe3PDQZU82Qyf9Ru7swV1vCY7_uWoNi8</string>
	<key>GCM_SENDER_ID</key>
	<string>632981210912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs.iosProject</string>
	<key>PROJECT_ID</key>
	<string>ios-project-9f8b7</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-9f8b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632981210912:ios:0df3d4592e0e3ece</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-9f8b7.firebaseio.com</string>
</dict>
</plist>